.formulario{
    border: 3px solid white;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.formulario h2{
    color: white;
    font-family: "Barrio", system-ui;
    font-size: 20pt; 
}

.formulario h3{
    color: white;
    font-family: "Chakra Petch", sans-serif;
}

.formulario input{
    font-family: "Barrio", system-ui;
    background-color: var(--verde1);
    width: 100%;
    color: #ffffff;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.personagem-change{
    background-color: var(--verde1);
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    padding: 1rem;
    gap: 0.2rem;
}

.personagem-change img{
    width: 128px;
    height: 128px;
    border-right: 3px solid white;
}

