* {
    margin: 0;
}

:root {
    --verde1: rgb(31, 68, 30);
    --verde2: rgb(59, 131, 58);
}

body{
    background-color: var(--verde2);
}

header{
    box-sizing: border-box;
    background-color: var(--verde1);
    width: 100%;
    height: 15vh;
    position: fixed; top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    z-index: 999;
}

header h1{
    color: white;
    font-family: "Barrio", system-ui;
    font-size: 28pt;    
}

header img{
    width: 84px; height: 84px;
}

main{
    box-sizing: border-box;
    margin-top: 15vh;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section{
    width: 80vw;
}

main h1{
    color: white;
    font-family: "Barrio", system-ui;
    font-size: 25pt; 
}

main p{
    color: white;
    font-family: "Chakra Petch", sans-serif;
}

.botoes-alinhados{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 0.5rem;
}

.botoes-alinhados *{
    flex: 1;
}

#Opcoes button, .botoes-alinhados button{
    font-family: "Barrio", system-ui;
    background-color: var(--verde1);
    width: 100%;
    color: #ffffff;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    transition: all 250ms ease-in-out;
}

#Opcoes button:hover, .botoes-alinhados button:hover{
    background-color: white;
    color: var(--verde1);
}

.save-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border: 3px white solid;
    box-sizing: border-box;
    background-color: var(--verde1);
}

.save-view img{
    width: 120px; height: 120px;
}

.save-view h3{
    font-family: "Chakra Petch", sans-serif;
    color: white;
}

