.colecionaveis{
    width: 95vw;
    flex-wrap: wrap;
    display: flex; flex-direction: row; align-items: center;
    overflow: hidden;
    padding: 5px;
    align-items: stretch;
    gap: 2px;
    margin: 10px 5px;
}
.item-colecao button{
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    padding: 2px 15px;
    color: rgb(255, 221, 31);
    background-color: rgb(36, 85, 35);
    border: none;
}
.item-colecao{
    flex: 1;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    padding: 2px;
    background-image: linear-gradient(rgb(255, 255, 35), rgb(255, 221, 31),rgb(255, 217, 0));
}
.item-colecao p, h2{
    color: rgb(36, 85, 35);
    text-align: center;
}

.item-colecao h2{
    font-size: 190%;
    font-family: "Barrio", system-ui;
}
.item-colecao img{
    width: 100px;
    opacity: 0.5;
    filter: brightness(0%);
}

.item-colecao p{
    display: inline;
    width: 100%;
    margin-bottom: 2px;
}

.item-colecao .colecao-especial{
    filter: none;
}

@media screen and (max-width: 500px) {
    .item-colecao img{
        width: 65px;
    }
    .item-colecao{
        width: 40%;
        align-items: center;
    }
    .colecionaveis{
        justify-content: center;
    }
}

@media screen and (max-width: 390px) {
    .item-colecao{
        width: 100%;
        align-items: center;
    }
}

#playerContainer{
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(36, 85, 35);
}
#playerContainer h2{
    font-size: 110%;
    color: white;
    font-family: "Barrio", system-ui;
    font-style: normal;
}
#playerContainer button{
    background-color: #ffffff00;
    border: none;
}