:root {
    --verde1: rgb(31, 68, 30);
    --verde2: rgb(59, 131, 58);
}

* {
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

h1{
    color: white;
    font-family: "Barrio", system-ui;
    font-size: 150%;    
}

p{
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    font-size: 90%;
    font-weight: bold;
    color: #ffffff;
}

body{
    background-color: var(--verde2);
}

header{
    box-sizing: border-box;
    background-color: var(--verde1);
    width: 100%;
    height: 15vh;
    position: fixed; top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    z-index: 999;
}

header h1{
    color: white;
    font-family: "Barrio", system-ui;
    font-size: 28pt;    
}

header img{
    width: 84px; height: 84px;
}


#alterna-menu{
    margin-right: 10px;
    background-color: rgba(255, 255, 0, 0);
    border: none;
    color: rgb(36, 85, 35);
    background-image: linear-gradient(rgb(255, 255, 35), rgb(255, 221, 31),rgb(255, 217, 0));
    padding: 0.2rem;
    font-family: "Barrio", system-ui;
    font-size: 110%; 
    transition: all 500ms ease-in-out;
}

#alterna-menu:hover{
    border: none;
    background-image: linear-gradient(#ffffff);
    padding: 0.5rem;
}

main {
    margin: 0px;
    margin-top: 16vh;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.menu-lateral {
    width: 100%;
    height: 180px;
    position: fixed;
    top: -500px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    display: flex; flex-direction: row; gap: 5px;
    padding: 10px; 
    color: white;
    font-family: "Barrio", system-ui;
    margin: 0px 20px 10px 0px;  
}

body.menu-visivel .menu-lateral {
    top: 16vh;
    opacity: 1;
}

body.menu-visivel .conteudo-principal {
    margin-top: calc(16vh + 180px); 
}

.espadinha{
    flex: 1;
    padding: 10px 5px;
    background-image: linear-gradient(rgb(255, 255, 35), rgb(255, 221, 31),rgb(255, 217, 0));
    border: 5px rgb(134, 76, 0) solid;
    border-top: 5px rgb(219, 124, 0) solid;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.253);
    transition: 100ms all ease-in-out;
    cursor: pointer;
}
.espadinha p{
    font-family: "Barrio", system-ui;
    font-size: 110%;
    letter-spacing: 1px;
    color: rgb(36, 85, 35);
}

.espadinha:hover{
    background-image: linear-gradient(white);
    border: 5px var(--verde1) solid;
    border-top: 5px var(--verde2) solid;
    padding: 10px 10px;
}
.espadinha img{
    width: 100px;
}
.preco_espadinha{
    display: flex; flex-direction: row; align-items: center;
}
.preco_espadinha img{
    width: 26px; height: 26px;
}

#timer, #meta{
    font-family: "Chakra Petch", sans-serif;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 28pt;
}

.game_em_si{
    background-color: var(--verde1);
    height: 300px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    display: flex; flex-direction: row; align-items: center; justify-content: center;
}


.c_jogador, .c_zombie{
    display: flex; justify-content: center;
}
.c_zombie{
    flex-direction: column;
    height: 100%; width: 100%;
    align-items: center;
}

.c_jogador{
    flex-direction: row;
    text-align: left;
    padding: 2px 10px; border-radius: 8px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.11);
}
.c_zombie img{
    width: 40%;
}
.c_jogador p, .c_zombie p{  
    margin-left: 10px;
    color: #032503;
}
.c_zombie p{
    color: rgb(255, 221, 31);
}
.c_zombie #Nome_inimigo{
    font-family: "Barrio", system-ui;
}

.status-jogador{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 3px solid white;
}

.status-jogador p{
    color: white;
    font-family: "Barrio", system-ui; 
    font-size: 14pt;
}

#zombie-atual{
    cursor: pointer;
}

#zombie-atual:hover{
    filter: brightness(-500%) !important;
}

#vida_zumbi_atual{
    font-size: 20pt;
}
#Nome_inimigo{
    font-size: 22px;
    background-image: linear-gradient(rgba(255, 255, rgba(255, 255, 255, 0)0), rgba(255, 255, 0, 0.445), white) !important;
}
.c_zombie img {
    margin-bottom: 2px;
    border: 3px solid rgb(255, 221, 31);
    width: 200px; height: 200px;
    transition: all 100ms ease-in-out;
}

#bem-viendo{
    margin-left: 10px;
    font-size: 180%;
}
.como-jogar{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(36, 85, 35);
    padding: 8px;

}
.como-jogar p{
    margin: 0px 10px 5px 0px;
}
.como-jogar p, .como-jogar h1{
    color: rgb(255, 255, 255);
    font-size: 120%;
    margin-left: 10px;
}

.marcacao{
    letter-spacing: 2px;
    font-family: "Barrio", system-ui;
    font-size: 90%;
    padding: 1px 5px;
    margin: 0px 2px;
    border-radius: 10px;
    color: rgb(36, 85, 35);
    background-image: linear-gradient(rgb(255, 255, 35), rgb(255, 221, 31),rgb(255, 217, 0));
}

#dados{
    background-color: rgb(36, 85, 35);
    display: flex; flex-direction: column;
    padding: 5px 10px;
    width: 100%;
}

#dados label{
    font-size: 150%;
    color: white;
    font-family: "Barrio", system-ui;
    margin-top: 10px;
}
.campo-de-input{
    font-family: "Barrio", system-ui;
    background-color: #032503;
    width: 100%;
    color: #ffffff;
    padding: 5px 5px;
    border-radius: 25px;
    border: none;
}
.campo-de-input:focus{
    background-color: #ffffff;
    color: #032503;
}

#play{
    font-family: "Barrio", system-ui;
    text-decoration: none;
    font-size: 180%;
    background-color: rgb(36, 85, 35);
    color: #ffffff;
    width: 100%;
    display: block;
    text-align: center;
    margin: 0px 0px 10px 0px;
}
#play:hover{
    background-color: #ffffff;
    color: #032503;
}

#version{
    margin-left: auto; margin-right: auto;
    margin-bottom: 30px;
    display: block;
    font-family: "Barrio", system-ui;
    font-style: italic;
    font-size: 90%;
    opacity: 0.8;
}

#utensilios{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 150%;
}
@media screen and (min-width: 400px) {
    #utensilios{
        font-size: 190%;
    }
}

#txto-item-atual{
    font-size: 120%;
    display: inline;
    background-image: linear-gradient(rgb(255, 255, 35), rgb(255, 221, 31),rgb(255, 217, 0));
    color: rgb(36, 85, 35);
    margin-left: 10px;
    padding: 3px 8px;
}

#Balao-magico{
    font-family: "Barrio", system-ui;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    top: 300px; right: 25px;
    width: 60px; height: 60px;
    background-image: linear-gradient(to bottom left, rgb(247, 80, 80), rgb(184, 33, 33), rgb(63, 11, 11));
    background-color: rgb(184, 33, 33);
    border: 2px double white;
    border-radius: 50%;
}

#morcegu{
    width: 15%;
    position: fixed; top: 85px; right: 5px;
    transition: 250ms all ease-in-out;
}
#flor{
    transform: scaleX(1);
    width: 10%;
    position: absolute; bottom:20px; right: 5px;
    transition: 250ms all ease-in-out;
}



  